.list-group-item{
    text-align: left;
    
}
 .search{
    border-block-color: black;
    /* margin: 0 10% 0 10%;*/
    width: 70%; 
} 

.container{
    padding: 200px;
    padding-left: 50px;
    padding-left: 40px;
    width: auto;
    
    /* background-image: url(../../Images/back.jpg);
    background-size: cover; */
    
}
.results-container{
    border: 1px solid black;
}
